@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
:root {
    --header-height: 3rem;
    /* #007aff */
    /*========== Colors ==========*/
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
  
    /*========== Font ==========*/
    --body-font: 'Nunito', sans-serif;;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margin ==========*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;

    
  }

*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
.body-grid{
    display: grid;
}

h1,h2,h3,ul,p{
    margin: 0;
}

h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
    color: var(--title-color);
}
img{
    width: 100%;
    height: auto;
}
.section{
    padding: 1rem 0;
}
.section-title{
    font-size:var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}
.body-conatiner{
    max-width: 968px;
    width: calc(100% - 3rem);
    margin: 0 var(--mb-3);
}
.bd-grid{
    display: grid;
    gap: 1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
    transition: 0.3s;
}
.nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--mb-3);
}

@media screen and (max-width:968px) {
    .nav__menu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 1px 4px rgba(0,0,0,0.1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: 0.3s;
    }
}
.nav__logo,.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__toggle{
    font-size: 1.2rem;
    cursor: pointer;
}
.nav__item{
    text-align: center;
}
.nav__list{
    display: grid;
grid-template-columns: repeat(3,1fr);
gap: 2rem;
}
.nav__link{
    display: flex;
    flex-direction: column;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    font-weight: (--font-medium);
}
.nav__link:hover{
    color: var(--title-color);
}
.nav__icon{
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}
.show-menu{
    bottom: var(--header-height);
}
.active-link{
    color: var(--title-color);
    font-weight: bolder;
}
.home{
    position: relative;
}
.home__container{
    gap:1rem;
}
.home__data{
    gap: .5rem;
    text-align: center;
}
.home__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-self: center;
    margin-bottom: var(--mb-1);
}
.home__title{
    font-size: var(--h1-font-size);
}
.home_profession{
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}
.home__address{
    gap: .5rem;
}
.home__information,.social__information{
    display: flex;
    align-items: center;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-1);
}
.home__icon{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.home__button-movil{
display: inline-block;
border: 2px solid var(--text-color);
color: var(--title-color);
padding: 1rem 2rem;
border-radius: .25rem;
transition: .3s;
font-weight: var(--font-medium);
margin-top: var(--mb-2);
/* margin-bottom: var(--mb-2); */
}
.home__button-movil:hover{
    background-color: var(--text-color);
    color: var(--container-color);
}
.social__container{
    display: flex;
    flex-direction: column;
    grid-template-columns: max-content;
    gap:.5rem;
}
.social__links{
display: inline-flex;
font-size: var(--small-font-size);
align-items: center;
color: var(--text-color);
}
.social__link:hover{
color: var(--title-color);
}
.social__icon{
    font-size: 1.5rem;
    margin-right: .25rem;
}
.section__title{
    margin-bottom: var(--mb-2);
    letter-spacing: .35rem;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
.profile__description{
    text-align: center;
}
span{
    display: block;
    margin-bottom: var(--mb-1);
    margin-top: var(--mb-1);
}
.education__content{
    display: flex;
    margin-bottom: var(--mb-2);
    margin-top: var(--mb-2);
}
.education__time{
    padding-right: 1rem;
}
.education__rounder{
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--text-color-light);
    border-radius: 50%;
    margin-top: .5rem;
}
.education__line{
    display: block;
    width: 2px;
    height: 115%;
    background-color: var(--text-color-light);
    transform: translate(7px, -8px);
}
.education__data{
    gap: .5rem;
}
.education__title{
    font-size: var(--h3-font-size);
    font-weight: bolder;
}
.education__studies{
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: bold;
}
.education__year{
    font-size: var(--smaller-font-size);
}
.skills__content,.interests__content{
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
}

.skills__name,.interests__name{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-3);
    font-weight: bolder;
}
.skills__icon,.interests__icon{
    font-size: 1.5rem;
    margin-right: .5rem;
}
.skills__data,.interests__data{
    margin-top: var(--mb-2);
}
.project__container,.certification__container {
    overflow: initial;
  }
  
  .project__content,.certification__content{
    padding: 0 2rem 0 2.5rem;
  }
  
  .project__img,.certification__img {
    width: 265px;
    border-radius: 0.5rem;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  
  .project__title,.certification__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
  }
  
  .project__description,.certification__description {
    margin-bottom: 0.75rem;
  }
  .project__data{
      margin-top: var(--mb-2);
  }
  
  .project__button:hover .button__icon {
    -webkit-transform: translateX(0.25rem);
    transform: translateX(0.25rem);
  }
  
  .swiper-button-prev::after,
  .swiper-button-next::after {
    content: "";
  }
  
  .swiper-project-icon {
    font-size: 2rem;
    color: var(--title-color);
  }
  
  .swiper-button-prev {
    left: -0.5rem;
  }
  
  .swiper-button-next {
    right: -0.5rem;
  }
  
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -1.5rem;
  }
  
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullets {
    outline: none;
  }
  .swiper-pagination-bullet-active{
      background-color: var(--text-color);
  }
  .highlights{
    list-style-type: disc; 
    margin-left: 2rem;
  }
  .certification h2,.languages h2{
      margin-top: var(--mb-2);
  }
  .language__list{
      list-style-type: disc;
      grid-template-columns: repeat(3,1fr);
      font-weight: bolder;
      font-size: 1.2rem;
      gap: 1rem;
      margin-left: 1.75rem;
  }